<html>

<head>
    <title>
        Be_Social
    </title>
    <style>
        body {
            margin: 0;
        }
        
        #mainPage {
            height: 100%;
            width: 100%;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        #bgimg {
            height: 700px;
            width: 700px;
            background-image: url("/bgm.svg");
            background-size: cover;
            background-position: center;
            border: 1px solid rgb(215, 213, 213);
            border-radius: 5px;
        }
        
        button {
            background-color: #1877F2;
            border-radius: 7px;
            color: #fff;
            height: 50px;
            width: 200px;
            border: 2px solid rgb(229, 226, 226);
        }
        
        a {
            text-decoration: none;
            font-size: 20px;
            color: white;
        }
        
        h3 {
            font-size: 35px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body>
    <div id="mainPage">
        <div id="bgimg"></div>
        <div id="explore">
            <h3>
                Welcome to Be_Social
            </h3>
            <button>
                <a href="/users/signin">Login</a>
            </button>
        </div>
    </div>
</body>

</html>