<html>

<head>
    <title>
        <%= user.name %>
    </title>
    <style>
        body {
            margin: 0;
        }
        
        #mainBox {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        
        #dpStyle {
            height: 200px;
            width: 200px;
        }
        
        #dpStyle img {
            height: 200px;
            width: 200px;
        }
        
        #bottomStyle {
            height: 200px;
            width: 400px;
            align-items: center;
            font-size: 19px;
            font-weight: 500;
            font-family: sans-serif;
            margin: -50px 0px 0px 50px;
        }
        
        button {
            background-color: #1877F2;
            border-radius: 7px;
            color: #fff;
            height: 50px;
            width: 200px;
            border: 2px solid rgb(229, 226, 226);
        }
        
        a {
            text-decoration: none;
            font-size: 20px;
            color: white;
        }
    </style>
</head>

<body>
    <div id="mainBox">
        <div id="dpStyle">
            <img src="/dp.jpg" alt="dp">
        </div>
        <div id="bottomStyle">
            <h3>
                <%=user.name%>
            </h3>
            <h4>
                <%=user.email%>
            </h4>
            <h4>
                <%=user.dob%>
            </h4>
        </div>
        <div>
            <button>
            <a href="/users/signout">
                Logout
            </a>
            </button>
        </div>
    </div>
</body>

</html>

</html>